
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 20px;
}

.logo{
  font-size: 2rem;
}

.headers{
  display: flex;
  align-items: center;
  gap: 30%;
  width: 10vw;
}


#randoms {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80dvh;
  text-align: center;
}

#randomline {
  margin: 0 400px;
  font-size: 2.2rem;
}

button {
  margin: 20px;
  padding: 15px;
  font-size: 1rem;
  border-radius: 25px ;
  color: black;
  border: 1px solid black;
}

.background-video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}